<section>
    <main>
        <h2>ალეკოს ავაკუატორის მომსახურეობა</h2>
        <h3>+995 XXX XX XX XX</h3>
    </main>
    <div class="d">
        <div class="servise">
            <div class="s">მისაღები ფასი</div>
            <div class="s">სწრაფი და უსაფრთხო</div>
            <div class="s">24 საათი</div>
        </div>
    </div>
    
</section>